/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Inter", sans-serif;
  background-color: #e4e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




@keyframes fade {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

/* Main Container */
.main-container {
  background-color: #ffffff;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: fixed;
}

/* Header Styles */
.main-container .header {
  background-color: #006540;
  position: relative;
  padding: 30px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Logo Styles */
.header img {
  height: 50px;
  position: absolute;
  border-radius: 50px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Logo Background Circle */
.header .circle {
  position: absolute;
  background-color: #006540;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main Content Container */
.main-container main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  height: 600px;
  overflow-y: auto;
  margin-bottom: 70px;
  padding: 40px 20px 0px 20px;
}

main .title-content {
  font-weight: 700;
  color: #333333;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;

}

.myTask{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  gap: 20px;

  cursor: pointer;
}
.myTask .taskContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: #d6f2e1;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Styling myTask */

.taskContainer .title-date {
  display: flex;
  flex-direction: column;
  flex: 1; /* takes available space */
  overflow-wrap: break-word;
}

.taskContainer p {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  max-width: 500px;
  margin-bottom: 5px;
  
}

.taskContainer span {
  color: #006540;
  font-size: 12px;
  margin-left: 5px;
}

.taskContainer .description {
  font-weight: 200;
  font-size: 14px;
  margin-left: 5px;
}

.taskContainer .edit-delete {

  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60px;
  flex-shrink: 0;
}

.taskContainer .edit-delete button {
  background-color: transparent;
  border: none;
}
.taskContainer .edit-delete button img {
  height: 25px;
}
.taskContainer .edit-delete button img:hover {
  opacity: 80%;
}





/* Button Position */
.main-container .btn-addtask {
  position: absolute; /* Fixes the button relative to the viewport */
  right: 40px;
  bottom: 85px;
}

/* Button Styles */
.btn-addtask button {
  background-color: #006540;
  border: none;
  border-radius: 50px;
  padding: 14px;
  cursor: pointer;
}
/* Svg for buttons */
.btn-addtask button img {
  height: 25px;
}

/* Two Groups Section */
.main-container .no-task {
  /* When I dont have a task  */
  text-align: center;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  gap: 20px;
}

/* Helper Text */
.helper-text p {
  font-size: 14px;
  color: #333333;
}

/* Navbar */
nav {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

ul li {
  display: flex;
  flex-direction: column;
}

li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  gap: 5px;
  font-size: 12px;
  color: #006540;
  text-decoration: none;
}

/* Modals */

.main-container .modals {
  position: fixed;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.modals p {
  color: #333333;
  font-weight: 700;
}

.modals .input-task {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modals .input-task input {
  padding: 10px 4px;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-bottom: #006540 solid 1px;
  outline: none;
}
.modals .input-task textarea {
  padding: 10px;
  border: #006540 solid 1px;
}

.modals .icons-dates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.modals img {
  height: 30px;
}

.modals input {
  padding: 4px;
  border: #006540 solid 1px;
}

.modals .icons-dates {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modals .cancel-add-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.modals .cancel-add-btns button {
  color: #006540;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
}
.modals .cancel-add-btns button:hover {
  color: #03a86c;
  cursor: pointer;
}
/* Background opacity */

.main-container .bg-opacity {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
}

/* Mobile Screen responsive */
@media (max-width: 768px) {
  body {
    display: block; /* Remove flex centering on mobile */
    height: auto;
    border-radius: 0;
  }
  .main-container {
  height: 100dvh; /* adjust based on navbar height */
  overflow: auto;
  width: 100%;
  }

  .two-no-task .helper-text {
    color: #333333;
  }
  /* Main contents */


  .main-container .modals {
    position: fixed;
    width: 300px;
  }
}
